__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/
runs/
checkpoints_arena_time_independent_g6_focus_200m_gpu/
checkpoints_arena_time_independent_200m_gpu/
checkpoints_arena_speed_reward/